// background: linear-gradient(90.19deg,#0b1133 6.62%,#071a90 99.86%);
.tc1 {
  color: #18592d;
}
.tc-w {
  color: #fff;
}
.tc2 {
  // background-color:#F1592A ;
  background-image: linear-gradient(90.19deg, #f1592a 6.62%, #18592d 99.86%);
}
a {
  text-decoration: none;
}
.box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30px;
  height: 30px;
}
.fix {
  height: 8vh;
  background-color: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}
.title h3 {
  font-size: 1.3125rem;
  font-weight: 700;
}
.mobile {
  h3 {
    font-size: 0.875rem;
    font-weight: 500;
  }
  form {
    input {
      outline: none;
      box-shadow: none;
    }
  }
}
.sign-up {
  height: 92vh;
  .banner {
    height: 100%;
    .quick {
      width: 350px;
      margin: auto;
    }
  }
  .check {
    font-size: 0.75rem;
  }
  .register {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .code {
    h3 {
      font-size: 1rem;
    }
    button {
      border-radius: 25px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 18px;
    }
  }
}
.verify-1{
  button{
    margin-left: 10px;
  }
  h3{
      font-weight: bold;
  }
  .otp-num{
      input{
        margin: 10px;
        height: 35px;
        width: 100%;
        border: none;
        font-size: 1.2rem;
        outline: none;
        border-bottom: 1px solid grey;
      }
  }
}
