<div class="col-12 col-sm-12 col-md-12">
    <div class="row m-0">
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/bathroom-cleaning.jpg" alt="Bathroom">
                </div>
                <div class="portfolio-info">
                    <h4>Bathroom Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/kitch-clean.jpg" alt="Kitchen">
                </div>
                <div class="portfolio-info">
                    <h4>Kitchen Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/sofa-clean.jpg" alt="Sofa">
                </div>
                <div class="portfolio-info">
                    <h4>Sofa Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/toilet-clean.webp" alt="Toilet">
                </div>
                <div class="portfolio-info">
                    <h4>Toilet Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/window-clean.jpeg" alt="Windows">
                </div>
                <div class="portfolio-info">
                    <h4>Windows Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 p-4">
            <div class="portfolio-wrap">
                <div>
                    <img src="../../../assets/bathroom-cleaning.jpg" alt="Bathroom">
                </div>
                <div class="portfolio-info">
                    <h4>Bathroom Cleaning</h4>
                    <p>Give your home a sparkling new makeover</p>
                    <div class="py-2">
                        <span>225</span>
                    </div>
                    <div>
                        <button class="button-68" role="button" [routerLink]="['/booking/service-description']" >Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
