.portfolio-wrap{
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    transition: 0.3s;
    img{
        width: 100%;
        height: 250px;
    }
    .portfolio-info{
        background: #fff;
        text-align: center;
        padding: 15px;
        border-radius: 0 0 3px 3px;
        height: auto;
    }

    .button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #F1592A;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 70px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
    }
}

//-------quantity counting-----------//

$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

.qty-input {
	color: $black;
	background: $white;
	display: flex;
	align-items: center;
	overflow: hidden;

	.product-qty,
	.qty-count {
		background: transparent;
		color: inherit;
		font-weight: bold;
		font-size: inherit;
		border: none;
		display: inline-block;
		min-width: 0;
		height: 2.5rem;
		line-height: 1;
		

		&:focus {
			outline: none;
		}
	}

	.product-qty {
		width: 50px;
		min-width: 0;
		display: inline-block;
		text-align: center;
		appearance: textfield;
        line-height: 40px;		
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	.qty-count {
		padding: 0;
		cursor: pointer;
		width: 2.5rem;
		font-size: 1.25em;
		text-indent: -100px;
		overflow: hidden;
		position: relative;
		
		&:before, 
		&:after {
			content: "";
			height: 2px;
			width: 10px;
			position: absolute;
			display: block;
			background: $black;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&--minus {
			border-right: 1px solid $smoke;
            background-color: #18592D;
		}
		&--add {
			border-left: 1px solid $smoke;
            background-color: #18592D;
			&:after {
				transform: rotate(90deg);
			}
		}
		
		&:disabled {
			color: $gray;
			background: $disable;
			cursor: not-allowed;
			border-color: transparent;
			
			&:before,
			&:after {
				background: $gray;
			}
		}
	}
}

// IGNORE
body {
	background: #3b70fc;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.qty-input {
	border-radius: 4px;
    box-shadow: 0 1em 2em -0.9em rgb(0 0 0 / 70%);
    transform: scale(1);
    width: 100px;
    height: 40px;
    margin: auto;
}


//-------quantity counting end-----------//