<app-img-slider></app-img-slider>
<section class="about-section padding">
    <div class="container">
        <div class="row about-wrap">
            <div class="col-lg-6 sm-padding">
                <div class="about-content wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <h2>Nepal's first and biggest professionals service provider company since 2016 A.D. </h2>
                    <p>Quick Fix provide technical repair, maintenance, installation services of various fields and engineering consultant service. 
                        We are also building highly upgraded Information Technology (IT) Company, to advance our and market technology.
                        We are advancing service providing system and digitalizing each sectors & professionals as well as our clients.</p>
                    <a href="#" class="default-btn">More About Us</a>
                </div>
            </div>
            <div class="col-lg-6 sm-padding">
                <ul class="about-promo">
                    <li class="about-promo-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                        <div>
                            <h3>Professional Liability</h3>
                            <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
                        </div>
                    </li>
                    <li class="about-promo-item wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div>
                            <h3>Dedicated To Our Clients</h3>
                            <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
                        </div>
                    </li>
                    <li class="about-promo-item wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <div>
                            <h3>Outstanding Services</h3>
                            <p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div>
    <app-testimonials></app-testimonials>
</div>
<div>
    <app-service-section></app-service-section>
</div>