<div class="col-8 col-md-8 col-sm-8 p-0 m-auto">
    <div class="book-now">
        <h2>Make Your booking</h2>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual mockups
        </p>
        <div class="col-12 col-md-12 col-sm-12 p-0 information">
            <h3>Select Information</h3>
            <div class="col-12 col-md-12 col-sm-12">
                <div class="col-12 col-md-12 col-sm-12 p-0">
                    <div class="row m-0 user">
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="text" placeholder="First name">
                        </div>
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="text" placeholder="Second name">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-sm-12 p-0">
                    <div class="row m-0 user">
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="tel" placeholder="phone">
                        </div>
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="email" placeholder="Email address">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-sm-12 p-0">
                    <div class="row m-0 user">
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="text" placeholder="Pick Up address">
                        </div>
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="text" placeholder="Drop Up address">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-sm-12 p-0">
                    <div class="row m-0 user">
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="time" placeholder="Select time" type="text" onfocus="(this.type='time')" onblur="(this.type='text')">
                        </div>
                        <div class="col-12 col-md-6 col-sm-6 py-2">
                            <input type="date" placeholder="select Date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="select">
            <h3>select type</h3>
            <div class="col-md-12 col-12 col-sm-12">
                <div class="row m-0">
                    <div class="col-4">
                        <label><input type="radio" /><span></span> Laundry</label>
                    </div>
                    <div class="col-4">
                        <label><input type="radio" /><span></span>Electricity</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-sm-12">
                <div class="row m-0">
                    <div class="col-4">
                        <label><input type="radio" /><span></span>roofing</label>
                    </div>
                    <div class="col-4">
                        <label><input type="radio" /><span></span>cleaning</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 col-sm-12">
                <div class="row m-0">
                    <div class="col-4">
                        <label><input type="radio" /><span></span>sanitization</label>
                    </div>
                    <div class="col-4">
                        <label><input type="radio" /><span></span>Gardening</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="information">
            <div class="col-md-12 p-0">
                <div class="col-md-6 p-0">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                </div>
            </div>
        </div> -->
        <div class="book">
            <button type="button" class="bg-c">Book Now</button>
        </div>
    </div>   
</div>
