// .ml-auto{
//     margin-left: auto;
// }
.cart-icon{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    color: #fff;
    i{
        color: #fff;
    }
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}