<section>
    <div class="container">
      <div class="row">
        <h1 class="text-center"><span> SERVICES</span>created with love by skinniwini</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- <h3 class="text-center mb-5">Flip Card</h3> -->
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="../../../../assets/electricity.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Electricity</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="'/booking-service-list'" class="btn btn-default text-uppercase">Know more</a>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Electricity</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <span class="social-box">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </span> -->
                <a href="#" class="btn btn-default text-uppercase">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- <h3 class="text-center mb-5">Flip Card</h3> -->
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="../../../../assets/plumbing.jpg" alt="plumbing">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Plumbing</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Plumbing</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <span class="social-box">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </span> -->
                <a href="#" class="btn btn-default text-uppercase">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- <h3 class="text-center mb-5">Flip Card</h3> -->
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="../../../../assets/cleaning.jpeg" alt="cleaning">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">cleaning</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Cleaning</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <span class="social-box">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </span> -->
                <a href="#" class="btn btn-default text-uppercase">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
