<table class="styled-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Sub Total</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="../../../assets/electricity.jpg" alt="Electricity"></td>
            <td>Electrical</td>
            <td>225</td>
            <td>250</td>
            <td><i class="fa fa-trash ps-3" aria-hidden="true"></i></td>
        </tr>
        <tr class="active-row">
            <td><img src="../../../assets/electricity.jpg" alt="Electricity"></td>
            <td>gardening</td>
            <td>300</td>
            <td>400</td>
            <td><i class="fa fa-trash ps-3" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>
<div class="total">
    <div>
        <span>Grand Total:</span>
        <span>500</span>
    </div>
    <div>
        <span><i class="fa fa-trash ps-3" aria-hidden="true"></i></span>
    </div>
</div>
<div class="d-flex justify-content-center">
    <span>CheckOut</span>
</div>
