<!-- <div class="cart-page mt-3">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../../../assets/electricity.jpg" alt="Electricity"></td>
                <td>Electrical</td>
                <td>225</td>
                <td>1</td>
                <td>250</td>
                <td><i class="fa fa-trash ps-3" aria-hidden="true"></i></td>
            </tr>
            <tr class="active-row">
                <td><img src="../../../assets/electricity.jpg" alt="Electricity"></td>
                <td>gardening</td>
                <td>300</td>
                <td>1</td>
                <td>400</td>
                <td><i class="fa fa-trash ps-3 text-danger" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="total">
        <div>
            <span>Grand Total:</span>
            <span>500</span>
        </div>
        <div>
            <span><i class="fa fa-trash ps-3" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <span class="bg-c px-5 py-2 mb-3">CheckOut</span>
    </div>
</div> -->

<!--- cart page-1 --------------------->
<div class="wrapper">
  <h1>Shopping Cart</h1>
  <div class="project">
    <div class="shop">
      <div class="box" *ngFor="let service of cartDetails">
        <img src="{{ service.images }}" />
        <div class="content">
          <h3>
            <a routerLink="/booking/service-list">{{ service.name }}</a>
          </h3>
          <h4>Price: {{ service.rate * service.unit }} Rs</h4>
          <p class="unit">
            Quantity: <input name="" value="{{ service.unit }}" />
          </p>
          <p class="btn-area bg-c" (click)="singleDelete(service._id)">
            <i aria-hidden="true" class="fa fa-trash"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <p>
        <span>Subtotal</span> <span>{{ grandTotal }}</span>
      </p>
      <!-- <hr /> -->
      <!-- <p><span>Unit</span> <span>1</span></p> -->
      <hr />
      <p>
        <span>Total</span> <span>{{ grandTotal }}</span>
      </p>
      <a class="bg-c" [routerLink]="'/booking/order'"
        ><i class="fa fa-shopping-cart"></i>Checkout</a
      >
    </div>
  </div>
</div>
<!--- cart page-1 ends--------------------->
