<div class="col-6 col-md-6 col-sm-8 mt-3 m-auto">
    <div class="verify">
        <h3>ENTER OTP</h3>
        <P>we have sent you access code via sms for mobile number verification</P>
        <div class="otp-num py-3">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
            <input type="text" maxlength="1">
        </div>
        <div class="py-3">
            <button type="button" class="btn bg-c">submit</button>
        </div>
    </div>
</div>
