footer {
    background: #232427;
    color: #8d9aa8;
    font-weight: 600;
    position: fixed;
    bottom: 0px;
    width: 100%;
    p {
        padding: 40px 0;
        text-align: center;
    }
    img {
        width: 44px;
    }
}