<div class="container my-5">
  <div class="title">
    <h2>Purchase Summary</h2>
  </div>
  <div class="d-flex">
    <form [formGroup]="userDetailsForm" (ngSubmit)="submitOrder()">
      <div class="row">
        <div class="col-8">
          <label>
            <span class="fname">Full Name <span class="required">*</span></span>
            <input type="text" name="fname" formControlName="name" />
          </label>
          <ng-container formGroupName="location">
            <label>
              <span>Street Address <span class="required">*</span></span>
              <input
                type="text"
                name="houseadd"
                placeholder="House no, building and area"
                formControlName="address"
                required
              />
            </label>
            <label>
              <span>Town / City <span class="required">*</span></span>
              <input type="text" name="city" formControlName="city" />
            </label>
            <label>
              <span>State<span class="required">*</span></span>
              <input type="text" name="state" formControlName="state" />
            </label>
            <label>
              <span>Pincode <span class="required">*</span></span>
              <input type="text" name="pincode" formControlName="pincode" />
            </label>
            <!-- <label>
            <span>Phone <span class="required">*</span></span>
            <input type="tel" name="phone" formControlName="phone" />
          </label> -->
          </ng-container>
          <label>
            <span>Email Address <span class="required">*</span></span>
            <input type="email" name="city" formControlName="email" />
          </label>
        </div>
        <div class="Yorder col-4">
          <table>
            <tr>
              <th colspan="2">Your Booking Summary</th>
            </tr>
            <tr>
              <td>Total MRP</td>
              <td>{{ grandTotal }}</td>
            </tr>
            <tr>
              <td>Shipping Charges</td>
              <td>FREE</td>
            </tr>
          </table>
          <br />
          <div>
            <input type="radio" name="dbt" value="cd" /> Cash on Delivery
          </div>
          <button type="submit" class="bg-c">Place Order</button>
        </div>
      </div>
    </form>
  </div>
</div>
