<div class="description">
    <div class="col-12 col-md-12 col-sm-12 p-3">
        <h1 class="text-center fw-7">Booking Description</h1>
        <div class="row m-0 mt-5">
            <div class="col-12 col-md-6 col-sm-12 p-0 ">
                <div class="image">
                    <img src="../../../assets/p-3.jpg" alt="booking-image" width="100%">
                </div>
            </div>
            <div class="col-12 col-md-6 col-sm-12 p-0">
                <div class="px-5 service-name">
                    <h2 class="text-center">booking service name</h2>
                    <p class="py-3">Lorem ipsum is placeholder text commonly used in the graphic,
                        print, and publishing industries for previewing layouts and visual mockups
                    </p>
                    <div class="model">
                        <div class="col-12 col-md-12 col-sm-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-6 p-0">
                                    <span>Model</span>
                                </div>
                                <div class="col-md-6 p-0">
                                    <h4>E class 2010 Model</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-6 p-0">
                                    <span>Base Rate</span>
                                </div>
                                <div class="col-md-6 p-0">
                                    <h4>$4.30</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-6 p-0">
                                    <span>Per Mile/KM</span>
                                </div>
                                <div class="col-md-6 p-0">
                                    <h4>$2.00</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-6 p-0">
                                    <span>Passengers:</span>
                                </div>
                                <div class="col-md-6 p-0">
                                    <h4>4</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-6 p-0">
                                    <span>Luggage</span>
                                </div>
                                <div class="col-md-6 p-0">
                                    <h4>2</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="order bg-c" [routerLink]="['/booking/book-now']">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>